[project]
name = "repl-nix-workspace"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.11"
dependencies = [
    "pillow>=12.1.0",
    "psycopg2-binary>=2.9.11",
    "sqlalchemy>=2.0.46",
    "streamlit>=1.53.1",
]
